<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.photo.dao.CommentDao">
    <resultMap id="commentResultMap" type="com.yang.photo.pojo.Comment">
        <id column="id" property="id"></id>
        <result column="content" property="content"></result>
        <result column="active_id" property="activeId"></result>
        <result column="status" property="status"></result>
        <result column="commentor" property="commentor"></result>
        <result column="be_commentor" property="beCommentor"></result>
        <result column="comment_time" property="commentTime"></result>
    </resultMap>
    <sql id="column_list">
        content,active_id,status,commentor,be_commentor,comment_time
    </sql>
    <insert id="addComment" parameterType="com.yang.photo.pojo.Comment">

        insert into comment(<include refid="column_list"/>) values
        (#{content},#{activeId},#{status},#{commentor},#{beCommentor},#{commentTime})

    </insert>

    <select id="getComments" resultMap="commentResultMap" parameterType="com.yang.photo.pojo.Comment">

        select * from comment where active_id = #{activeId}

    </select>

</mapper>