<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.photo.dao.MessageDao">
    <resultMap id="messageResultMap" type="com.yang.photo.pojo.Message">
        <id column="id" property="id"></id>
        <result column="talker" property="talker"></result>
        <result column="content" property="content"></result>
        <result column="talk_room" property="talkRoom"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
    <sql id="column_list">
        talker,content,talk_room,create_time
    </sql>

    <insert id="addMessage" parameterType="com.yang.photo.pojo.Message">

        insert into message(<include refid="column_list"/>) values
        (#{talker},#{content},#{talkRoom},#{createTime})

    </insert>

    <select id="getMessage" resultMap="messageResultMap" parameterType="com.yang.photo.pojo.Message">

        select * from message
        <where>
            <if test="talker != null and talker != ''">talker = #{talker}</if>
            <if test="talkRoom != null and talkRoom != ''">talk_room = #{talkRoom}</if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime}</if>
        </where>
        order by create_time DESC

    </select>

</mapper>