<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.photo.dao.PhotoGraphDao">
    <resultMap id="photoGraphResultMap" type="com.yang.photo.pojo.PhotoGraph">

        <id column="id" property="id"/>
        <result column="name" property="name"></result>
        <result column="description" property="description"></result>
        <result column="type" property="type"></result>
        <result column="style" property="style"></result>
        <result column="permission" property="permission"></result>
        <result column="click" property="click"></result>
        <result column="create_time" property="createTime"></result>
        <result column="image" property="image"></result>
        <result column="user_id" property="userId"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <sql id="column_list">
        id,name,description,type,style,permission,click,create_time,image,user_id,update_time
    </sql>

    <select id="getPhotoGraphById" resultMap="photoGraphResultMap" parameterType="int">
        select <include refid="column_list"/> from photograph where id = #{id}
    </select>

    <select id="getPhotoGraphByUserId" resultMap="photoGraphResultMap" parameterType="int">

        select * from photograph where user_id = #{userId}

    </select>

    <insert id="addPhotoGraph" parameterType="com.yang.photo.pojo.PhotoGraph">

        insert into photograph(<include refid="column_list"></include>)
        values (#{id},#{name},#{description},#{type},#{style},#{permission},#{click},#{createTime},#{image},#{userId},#{updateTime})

    </insert>

    <delete id="deletePhotoGraphById" parameterType="com.yang.photo.pojo.PhotoGraph">

        delete from photograph where id = #{id}

    </delete>

    <update id="updatePhotoGraph" parameterType="com.yang.photo.pojo.PhotoGraph">

        update photograph
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="style != null and style != ''">style = #{style},</if>
            <if test="permission != null and permission != ''">permission = #{permission},</if>
            <if test="click != null and click != ''">click = #{click},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime}</if>
        </set>
        where id = #{id}

    </update>

</mapper>