<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.photo.dao.PhotoDao">
    <resultMap id="PhotoResultMap" type="com.yang.photo.pojo.Photo">
        <id column="id" property="id"></id>
        <result column="image" property="image"></result>
        <result column="gid" property="gid"></result>
        <result column="style" property="style"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
    <sql id="column_list">
        image,gid,style,create_time
    </sql>

    <select id="getPhotoListByGid" resultMap="PhotoResultMap" parameterType="com.yang.photo.pojo.Photo">

        select * from photo where gid = #{gid}

    </select>

    <insert id="batchAddPhoto" parameterType="java.util.List">

        insert into photo(<include refid="column_list"/>) values
        <trim suffixOverrides=",">
        <foreach collection="list" item="item" index="index">
            (#{item.image},#{item.gid},#{item.style},#{item.createTime}),
        </foreach>
        </trim>
    </insert>

    <select id="getFirstImage" resultType="com.yang.photo.pojo.Photo" parameterType="com.yang.photo.pojo.PhotoGraph">

        SELECT p1.image FROM photo p1 LEFT JOIN photograph p2 ON p1.gid = p2.id where user_id = #{userId} AND gid = #{id}
        ORDER BY p1.create_time ASC
        LIMIT 0,1

    </select>

    <delete id="deletePhoto" parameterType="com.yang.photo.pojo.Photo">

        delete from photo
        <where>
            <if test="id != null and id != ''">id = #{id}</if>
            <if test="gid != null and gid != ''">and gid = #{gid}</if>
        </where>

    </delete>

</mapper>