<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.photo.dao.ShowPhotoDao">
    <resultMap id="showPhotoResultMap" type="com.yang.photo.pojo.ShowPhoto">
        <id column="id" property="id"></id>
        <result column="image" property="image"></result>
        <result column="active_id" property="activeId"></result>
        <result column="photo_id" property="photoId"></result>
    </resultMap>
    <sql id="column_list">
        image,active_id,photo_id
    </sql>

    <insert id="batchAddShowPhoto" parameterType="java.util.List">

        insert into show_photo(<include refid="column_list"/>) values
        <trim suffixOverrides=",">
        <foreach collection="list" item="item" index="index">
            (#{item.image},#{item.activeId},#{item.photoId}),
        </foreach>
        </trim>
    </insert>

    <select id="getShowPhoto" resultMap="showPhotoResultMap" parameterType="com.yang.photo.pojo.ShowPhoto">

        select * from show_photo
        <where>
            <if test="photoId != null and photoId != ''">and photo_id = #{photoId}</if>
            <if test="activeId != null and activeId != ''">and active_id = #{activeId}</if>
        </where>

    </select>
</mapper>