<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.photo.dao.UserDao">
    <resultMap id="userResultMap" type="com.yang.photo.pojo.User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="age" column="age"></result>
        <result property="sex" column="sex"></result>
        <result property="email" column="email"></result>
    </resultMap>

    <sql id="column_list">
        id,name,password,age,sex,email
    </sql>

    <select id="getUser" resultMap="userResultMap" parameterType="User">

        select * from user
        <where>
            <if test="id != null and id != ''">id = #{id}</if>
            <if test="name != null and name != ''">and name = #{name} </if>
            <if test="password != null and password != ''">and password = #{password}</if>
        </where>
    </select>

    <insert id="addUser" parameterType="com.yang.photo.pojo.User">

        insert into user(<include refid="column_list"/>)
        values(#{id},#{name},#{password},#{age},#{sex},#{email})

    </insert>

    <update id="modifyUser" parameterType="com.yang.photo.pojo.User">

        update user
        <set>
            <if test="name != null and name != ''">name = #{name}</if>
            <if test="password != null and password != ''">password = #{password}</if>
            <if test="age != null and age != ''">age = #{age}</if>
            <if test="sex != null and sex != ''">sex = #{sex}</if>
            <if test="email != null and email != ''">email = #{email}</if>
        </set>
        where id = #{id}

    </update>

</mapper>